body {
    background-image: url(../assets/image.png);
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
}

.bg {
    background-color: #2A4A3B;
    /* opacity: .50; */
}

.bg0 {
    opacity: 1;
}

.textStyle1 {
    color: #08FF03;
    font-size: 30px;
}

.textStyle2 {
    color: #08FF03;
    font-size: 40px;
}

.textStyle2B {
    color: #000000;
    font-size: 40px;
}

.textStyle3 {
    color: #08FF03;
    font-size: 50px;
}

.textStyle3B {
    color: #000000;
    font-size: 50px;
}

.textStyle4 {
    color: #08FF03;
    font-size: 60px;
}

.textStyle5 {
    color: #08FF03;
    font-size: 100px;
}

.textStyle6 {
    color: #08FF03;
    font-size: 128px;
}

.textStyleSearch {
    color: #000000;
    font-size: 30px;
    /* opacity: 0.43; */
}

.searchBg {
    background-color: #D9D9D9;
    border: 0px;
}

.fiveDaySize {
    width: 304.1px;
    height: 329px;
}

.favoriteCitiesSize {
    width: 304.1px;
    height: 605px;
}

#favList {
    background: none;
    border: none;
}